* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: blanchedalmond;
  background: rgb(22, 80, 80);
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.infoStyle {
  display: block;
  padding: 70px 5px;
  font-family: 'Trade Winds', cursive;

}
.formStyle {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.formStyle input {
  width: 30%;
  height: 60px;
  border: 3px solid rgb(22, 80, 80);
  border-radius: 40px;
  background: blanchedalmond;
  color: rgb(22, 80, 80);
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  outline:none;
}
.formStyle button {
  width: 30%;
  height: 60px;
  background: rgb(20, 155, 155);
  border: 3px solid rgb(18, 71, 71);
  border-radius: 35px;
  font-family: 'Arvo', serif;
  font-size: 28px;
  margin: 10px;
  outline:none;
  font-weight: bold;
  cursor: pointer;
}
.weatherInfoStyle {
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  margin-top: 30px;
}
.error {
  color: rgb(211, 58, 58);
  font-size: 24px;
}


